<form (ngSubmit)="send()" class="container">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Movie Name:</mat-label>
        <input matInput [(ngModel)]="movie.movieName" type="text" name="name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Genre</mat-label>
        <input matInput [(ngModel)]="movie.genre" type="text" name="genre" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Language</mat-label>
        <input matInput [(ngModel)]="movie.languageDub" type="text" name="dub">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Subtitles</mat-label>
        <input matInput [(ngModel)]="movie.languageSub" type="text" name="sub">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Lenght(minutes)</mat-label>
        <input matInput [(ngModel)]="movie.length" type="text" name="length">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>FSK</mat-label>
        <input matInput [(ngModel)]="movie.fsk" type="text" name="fsk">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Release Date</mat-label>
        <input matInput [(ngModel)]="movie.release" type="datetime" name="release">
      </mat-form-field> 
    </div>
    <div>
      <mat-form-field appearance="standard" class="desc">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="movie.content" type="text" name="content">
      </mat-form-field> 
    </div>
    <div>
      <button mat-raised-button color="primary">send</button>
    </div>
  </form>
  <button mat-raised-button color="primary">delete</button>