<h2>History of Customer with ID {{urlId}}</h2>
<table mat-table [dataSource]="history" class="HistoryTable">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let cell">{{cell.id}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Movie</th>
    <td mat-cell *matCellDef="let cell" >
      <a href="http://localhost:4200/movie/{{cell.id}}">{{cell.movieName}}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="sDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
    <td mat-cell *matCellDef="let cell">{{cell.startDate | date:short}}</td>
  </ng-container>
  <ng-container matColumnDef="eDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
    <td mat-cell *matCellDef="let cell">{{cell.endDate | date:short}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>