<pre><button mat-raised-button color="primary"  (click)="openAdd()">Add Movie</button>   <button mat-raised-button color="primary"  (click)="refresh()">Refresh</button></pre>
<table mat-table [dataSource]="movies" class="MovieTable">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td width = 70px mat-cell *matCellDef="let cell">{{cell.id}}</td>
  </ng-container>
  <ng-container matColumnDef="entry">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Movie</th>
    <td width = 500px mat-cell *matCellDef="let cell" >{{cell.movieName}}</td>
  </ng-container>
  <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td width = 100px mat-cell *matCellDef="let cell" >
        <button mat-raised-button color = "primary" (click)="openControl(cell)">Edit</button>
      </td>
  </ng-container>
  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td width = 100px mat-cell *matCellDef="let cell" >
          <button mat-raised-button color="primary" (click)="delete(cell.id)">Delete</button>
      </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>