<mat-tab-group #tabGroup>
  <mat-tab label="Admins Overview">
    <ng-template matTabContent>
      
    </ng-template>
  </mat-tab>
  <mat-tab label="Customer Overview">
    <ng-template matTabContent>
      <app-user-overview></app-user-overview>
    </ng-template>
  </mat-tab>
  <mat-tab label="Movie Overview">
    <ng-template matTabContent>
      <table mat-table [dataSource]="movieTable" class="MovieTable">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let cell">{{cell.index}}</td>
        </ng-container>
        <ng-container matColumnDef="entry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Movie</th>
          <td mat-cell *matCellDef="let cell" ><a href="http://localhost:4200/editMovie/{{cell.index}}">{{cell.entry}}</a></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-template>
  </mat-tab>
</mat-tab-group>