<mat-tab-group>
  <mat-tab label="Personal Data">
    <ng-template matTabContent>
      <app-account-info></app-account-info>
    </ng-template>
  </mat-tab>
  <mat-tab label="Payment Information">
    <ng-template matTabContent>
      <app-payment-info></app-payment-info>
    </ng-template>
  </mat-tab>
  <mat-tab label="History">
    <ng-template matTabContent>
      <app-user-history></app-user-history>
    </ng-template>
  </mat-tab>
  <mat-tab label="Wishlist">
      <ng-template matTabContent>
        <app-user-wishlist></app-user-wishlist>
      </ng-template>
    </mat-tab>
</mat-tab-group>